/*@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');*/



* {
    box-sizing: border-box;
}

html,
body {
	background-color:#FFFFFF;
	font-family: "PT Sans", sans-serif;
	height: 100%;
    margin: 0;
}


details summary {
    outline: none;
}

details a {
    text-decoration: none;
    color: #4169E1;
}



/* Code CSS pour la grille. À toujours utiliser pour tous les sites web */

.row::after {
    clear: both;
    content: "";
    display: table;
}

[class*="col-"] {
    border: 1px solid red;
    border: hidden;
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* FIN CODE DE GRILLE*/


/* Code CSS pour activer le responsive design. */

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .col-2,
	.col-3,
    .col-4,
    .col-6 {
        width: 100%;
    }
}

/* Code pour la page services.html */
#tableau{
	margin-top: 80px;
}

/* Fin du code pour la page services/

/* Code page propos.html */
.container0 {
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 80px;
  padding: 20px;
}

 .def {
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 5px;
}
.titre{
	font-family: 'Montserrat Alternates', sans-serif;
}
  

.entete{
  border-bottom: 4px solid red;
  background-color: lightgrey;
}

#definitions {
    color: #000000;
}

h2 {
    color: #000000;
}

#source-cit {
    padding: 0px 0px 65px
}


/*css hero-image */

#nomPageTitre{
	font-family: 'Montserrat Alternates', sans-serif;;
	font-size: 2rem;
}
#metierPageTitre{
	font-family: 'Montserrat Alternates', sans-serif;;
	font-size: 1.5rem;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pexels-pixabay-278887.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 65px;
	padding-top: 300px;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
	border-radius: 25px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}


/* textes pages d'accueil */

#demo {
    color: #000000;
    font-size: 3.9vw;
	padding-top: 50px;
    text-align: center;
}



/* Typical Media Query Breakpoints */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Code pour la page contact*/
#adresse-courriel{
	margin-left: 5px;
}

#titreForm{
	 font-family: 'Montserrat Alternates', sans-serif;
	 padding-top: 100px;
}
/* input[type=text], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-size: 1.3rem;
  font-weight:bold;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #45a049;
}
*/

.container2 {
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Small devices (portrait tablets and large phones, 600px and up)*/
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
	float: left;
    width: 100%;
    margin-top: 0;
  }
  input[type=text], select, textarea{
	  width: 100%;
  }

}

/* Début du code pour mon sticky footer. Code reconnu par Michigan University */
/* On ne peut pas utiliser des px, car on
ne sait pas comment haut les utilisateurs
vont agrandir leur navigateur */

#content{
min-height: 100vh;
margin-bottom: -75px; /* hauteur du footer */
}
 /* Ci-dessus, - 75px est l'espace qui doit toujours être négatif
afin de réserver l'espace pour le footer. Si la valeur est positive,
ça ajouter 75px au container
ce que l'on veut éviter. -75px means take
all the space except for 75px at the bottom */
#content:after{
content:"";
display: block;
height:  75px;
}
footer {
	background-color : #000000;
	color : #FFFFFF;
	font-family: "PT Sans", sans-serif, Arial, Helvetica, sans-serif; /* Daniel Dulude à ajouté "PT Sans", sans-serif */
	font-size: 1.2rem;
    font-weight: 600; /* Ajouté par Daniel Dulude afin d'augmenter le contraste du logo vs fond */
	height: 75px;
	text-align: center;
	line-height: 75px;
}


/* Ou, deuxième méthode reconnue par Michigan University,
si on ne connait pas la hauteur du footer. flex:1; 1 pour une colone */
/* body {
	display: flex;
	min-height: 100vh;
	flex-direction:colum;
}
*/
/*
#content{
	flex:1;
}
/*
/*
footer {
	background-color : #000000;
	color: #FFFFFF;
	text-align: center;
}
*/
/* FIN CODE OFFICIEL POUR STICKY FOOTER reconnu par Michigan University */




/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
 
}
*/

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) { 
	label{
	   margin-left: 110px;
  }
  }
  */

 

/* 768px X 1360px  
@media only screen and (min-height: 769px) { 

  }
  */
 

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
*/


/* Code pour la page comparatif.html*/
.comp{
	font-family: 'Montserrat Alternates', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

/* Code CSS pour la page temoignages.html */
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
/* Fin du code CSS pour la page temoignages.html*/

/* Largeur, sur grand écran, du tableau de la page services.html, du tableau de la page temoignages.html et du formulaire de la page contact.html/
/* On screens that are 600px or more. Ce code diminue la largeur du tabformulaire */
@media screen and (min-width: 600px) {
	
  #formulaire {
    width: 700px;
  }
  
  #tableau {
	width: 700px; 
  }
  
  #temoignages {
	width: 700px;  
  }
}


