:root {
    --mainFont: 'Krub', sans-serif;
    --white: #ffffff;
    --primary: #251414;
    --secondary: hsl(180, 44%, 63%);
    --gray: #626262;
    --dark: #212121;
    --orange: #F87217;
}


/* Paul irish essentiel code */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*html {
    min-height: 100vh;
    min-width: 100 vw;
}
*/

h1 {
    margin: 0;
}

img {
    width: 100%;
}

.main-container {
    display: grid;
    font-family: var(--mainFont);
    height: 100vh;
    max-width: 1325px;
    margin: 0 auto;
    display: grid;
    /* rows / columns */
    grid: 100px auto auto auto auto auto 80px/ repeat(5, 1fr);
    grid-template-areas: "header header header header header" "nav nav nav nav nav" "main main main main main" "main main main main main" "main main main main main" "main main main main main" "footer footer footer footer footer";
    /* on peut créer un span to the top and to the bottom avec ce code, ce qui était difficile à faire, avant */
    /* grid-template-areas: "header header header sidebar" "main main main main" "footer footer footer footer" */
    grid-gap: 0rem;
    width: 100%;
}


/* grid-area */

.main {
    grid-area: main;
}

.footer {
    align-items: center;
    display: grid;
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    justify-items: center;
}

footer p {
    color: var(--white);
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

.header {
    grid-area: header;
}

.header {
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.main-nav ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

.main-nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin-left: 4rem;
}

.main-nav ul li {
    display: grid;
    margin-right: 6rem;
}

.main-nav ul li a {
    color: var(--white);
    font-family: var(--mainFont);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a[aria-current="page"] {
    border-bottom: 3px solid var(--orange);
    margin: 0;
    padding: 1rem;
}

@media (max-width: 640px) {
    .main-nav ul {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        margin-left: 0rem;
    }
    .main-nav ul li {
        justify-content: center;
        margin-right: 0rem;
    }
    .main-nav a[aria-current="page"] {
        border-bottom: 2px solid var(--orange);
        margin: 0;
        padding: 0.5rem;
    }
}


/* Il est important d'utiliser outline. Cela emêche le contenu de bouger. Ne jamais utliser border*/

.main-nav a:hover,
.main-nav a:focus {
    outline: 2px solid var(--white)!important;
}

.hero {
    height: 100vh;
    background-image: url(../img/woven-cloth-352481_640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Certains break point que nous pouvons utiliser */


/* @media (min-width: 640px){
 
    ...
     
    }
     
    @media (min-width: 768px){
     
    ...
     
    }
     
    @media (min-width: 1024px){
     
    ...
     
    }
     
    @media (min-width: 1200px){
     
    ...
     
    }
}*/